.dashboard {
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

.calendar-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calendar {
  width: 60%; 
  height: 40%; 
  border: 1px solid #ccc;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
