.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f9;
}

.form-container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.logo {
  max-width: 60%;
  height: auto;
}


.register-form {
  display: flex;
  flex-direction: column;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"],
.register-form input[type="date"],
.register-form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  appearance: none;
  font-family: 'Arial', sans-serif;
  margin-bottom: 15px;
  cursor: pointer;
}

.register-form select:focus {
  border-color: #0056b3;
  outline: none;
}


.register-form select {
  cursor: pointer;
}

.register-form input[type="date"]::-webkit-inner-spin-button,
.register-form input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.Button {
  margin-top: 20px;
  padding: 10px 0;
}

.Button:fullWidth {
  display: block;
  width: 100%;
}

h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-top: 0;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.error {
  color: #d32f2f;
  background-color: #fce4e4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  text-align: center;
}

blockquote {
  font-style: italic;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

cite {
  display: block;
  margin-top: 5px;
}

.inspiration-container {
  padding: 20px;
  color: #333;
}

.testimonial {
  background: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.user-count {
  text-align: center;
  margin-top: 20px;
}
